﻿body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.logo{
    color:white;
}


    /*Style tags for cards in home dashboard*/
      
            .demo-card-wide.mdl-card {
                width: 350px;
            }

            .demo-card-wide > .mdl-card__title {
                color: #fff;
                height: 200px;
                
            }

            .mdl-card__title-text {

                color: black;
            }

            #card1{
                background: url('../../images/trigonometry.gif') center;
            }

            #card2{
                background: url('../../images/3point.png') center;
            }
            #card3{
                background: url('../../images/3point.png') center;
            }
            .demo-card-wide > .mdl-card__menu {
                color: #fff;
            }
      

            .mdl-textfield{
                width:260px
            }


            .mdl-progress{

                width:350px;
            }

            .mdl-progerss,#projectstatus{

                width:1100px;
            }