﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-panel">

    <div class="mdl-card__title">
        <div class="mdl-card__title-text">Three Point Problems</div>
    </div>

    <div class="mdl-card__supporting-text"><h3> Enter any three points on the rock.</h3></div>

    <div class="mdl-card__actions mdl-card--border">

        <form action="#">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="pointA">
                <label class="mdl-textfield__label" for="pointA">Point A</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="pointB">
                <label class="mdl-textfield__label" for="pointB">Point B</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="pointC">
                <label class="mdl-textfield__label" for="pointC">Point C</label>
            </div>
            <br>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="dist">
                <label class="mdl-textfield__label" for="dist">Enter the distance between A,B</label>
            </div>
            </br>
            <br>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="dist1">
                <label class="mdl-textfield__label" for="dist1">Enter the distance between A,C</label>
            </div>
            </br>
            <br>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="bear">
                <label class="mdl-textfield__label" for="bear">Enter the first bearing</label>
            </div>
            </br>
            <br>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="bear1">
                <label class="mdl-textfield__label" for="bear1">Enter the second bearing</label>
            </div>
            </br>
            <center>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Submit
                </button>
            </center>

        </form>
        <br />
        <br />
        <br />
        <br />
    </div>


</div>